/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MAIN CSS */

nav {
  display: block;
}

.main-articles-grid {
  display: block;
  height: 70vh;
}

.latest-news-grid {
  /* background-color: cadetblue; */
  width: 1152px;
  margin: 0 auto;
}

@media all and (max-width: 1152px) {
  .latest-news-grid {
    width: 100%;
  }
}

/* Top Nav grid*/

.top-nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: center;
}

@media all and (max-width: 767px) {
  .top-nav {
    display: none;
  }
}

.top-nav-grid {
  list-style: none;
  color: grey;
}

.top-nav-grid > * {
  display: inline-block;
  padding: 0 5px;
}

.top-nav-grid.right {
  justify-self: end;
  padding-right: 20px;
}

.top-nav-grid.left {
  padding-left: 20px;
}

/* Nav grid */

.sticky-nav {
  position: sticky;
  top: 0;
  background-color: aquamarine;
  height: 78px;
  display: grid;
  width: 100%;
  grid-template-columns: 108px 1fr;
  grid-template-rows: 48px 30px;
}

.logo {
  grid-row: span 1;
  grid-column: span 1;
  background: #bada55;
}

.links {
  grid-row: span 1;
  grid-column: span 1;
}

.banner {
  grid-column: span 2;
  background-color: yellow;
}
.top-nav {
  height: 32px;
  background: black;
  color: white;
}

@media all and (min-width: 1025px) {
  .logo {
    display: none;
  }
  .links {
    grid-column: span 2;
  }
}

/* nav */

.nav-flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-flex li {
  /* display: inline-block; */
  padding: 0 20px;
}

@media all and (max-width: 1215px) {
  .nav-flex li:nth-child(6),
  .nav-flex li:last-child {
    display: none;
  }
}

/* ---------- */
/* Cover grid */
/* ---------- */

/* Cover Articles */

.cover-story {
  background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8)),
    url('./dogs/2019+Portfolio-18.jpg');

  background-size: cover;
  background-position: 50%;
}

.side1 {
  background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8)),
    url('./dogs/QL9A3388.jpg');
  background-size: cover;
  background-position: 50%;
}

.side2 {
  background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8)),
    url('./dogs/QL9A9324.jpg');
  background-size: cover;
  background-position: 50%;
}

.cover {
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
}

.cover__details {
  color: white;
  padding: 10px;
}

/* ---Mobile View */

.cover__category {
  color: grey;
}

.cover__title {
  font-weight: 700;
  font-size: 38px;
}

.cover__title.main {
  font-weight: 700;
  font-size: 48px;
}

.cover__author {
  color: grey;
  font-size: 12px;
}

/* Cover Layout */

@media all and (max-width: 1023px) {
  .main-articles-grid {
    height: 60vh;
  }

  .cover__title {
    font-weight: 700;
    font-size: 30px;
  }

  .cover__title.main {
    font-weight: 700;
    font-size: 38px;
  }
}

.main-articles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'cover cover side1'
    'cover cover side2';
  grid-gap: 5px;
  box-sizing: border-box;
  margin: 5px;
}

.cover-story {
  grid-area: cover;
}

.side1 {
  grid-area: side1;
}

.side2 {
  grid-area: side2;
}

@media all and (max-width: 767px) {
  .main-articles-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 136px 136px 136px;
    grid-gap: 4px;
    grid-template-areas:
      'cover'
      'side1'
      'side2';
    height: auto;
  }

  .cover__title,
  .cover__title.main {
    font-weight: 700;
    font-size: 24px;
  }

  .cover__author {
    font-size: 12px;
  }
}

/* ---Mid view */

/* ---Full Desktop View */

/* Latest News Grid */

.section_heading {
  color: red;
  font-size: 30px;
  font-weight: 700;
  padding-left: 10px;
  width: 1152px;
  margin: 50px auto 25px auto;
}

@media all and (max-width: 1152px) {
  .latest_news__heading {
    width: auto;
  }
}

.latest-news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(228px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.latest_article {
  display: flex;
  flex-direction: column;
  height: auto;
}

.article__image {
  width: 100%;
  background: url('./dogs/Wyatt+Aussie+Pup+\(2+of+4\).jpg');
  background-size: cover;
  padding-top: 50%;
  margin-bottom: 5px;
  background-position: 50%;
}

.article_header {
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: black;
  padding-top: 5px;
}

.article_header:hover {
  text-decoration: underline;
  text-decoration-color: gray;
  color: orange;
}

.author-date {
  color: grey;
  font-size: 12px;
  font-weight: 300;
  display: block;
  padding: 5px 0;
}

@media all and (max-width: 705px) {
  .latest-news-grid {
    grid-template-columns: 1fr;
  }
  .latest_article {
    flex-direction: row;
  }
  .article__image {
    width: 75px;
    padding-top: 75px;
  }
}

/* Funding Section */

.funding__links a {
  color: red;
  text-decoration: none;
}

.funding__links a:hover {
  color: black;
}

.funding__links {
  list-style: none;
  padding-left: 10px;
}

.funding__links > * {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid orange;
}

.funding__links li:last-child {
  border-right: none;
}

@media all and (max-width: 705px) {
  .funding__links > * {
    display: block;
    padding: 8px 0;
  }
}

/* Funding Cards */

.card__top_grid {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 32px 1fr;
  width: 400px;
  height: 103px;
  background: linear-gradient(red, red 32px, wheat 33px, wheat);
  align-items: center;
}

.card__image {
  background: url('dogs/QL9A5874.jpg');
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: 50%;
}

.card__image_column {
  grid-row: span 2;
  align-self: start;
}

.card__bis_name {
  color: white;
}

.card__fund_src {
  color: grey;
  display: block;
}

.card__value {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
}
